<table  class="{{dir_language1}} dbs">
    <tr  class="{{dir_language1}} dbs">
        <td  class="{{dir_language1}} dbs bible"><span class="biblereference">{{Bible Reference}}</span></td>
        <td  class="||dir_language2|| dbs  bible"><span class="biblereference">||Bible Reference||</span></td>
    </tr>
    {{passage_rows}}
    <tr>
        <td  class="{{dir_language1}} dbs link"><a href="{{url}}">{{Read more}}</a></td>
        <td  class="||dir_language2|| dbs link"><a href="||url||">||Read more||</a></td>
    </tr>
</table>