<html>
<head>
<link type="text/css" rel="stylesheet" href="http://localhost/mylanguage-oophp/styles/dbs.css"  />
</head>
<body>  
    <div class="content">
        <h3 class="title"> {{Title}}</h3>
        <p class="languages">{{language}} -- ||language||</p>
    <h4 class="{{dir_language1}} dbs">{{Look Back}}&nbsp;--&nbsp;||Look Back||</h4>
    <ol class="{{dir_language1}} dbs">
        <li class="{{dir_language1}} dbs">{{What are you thankful for this week?}}<br><span dir = "||dir_language2||">||What are you thankful for this week?||</span></li>
        <li class="{{dir_language1}} dbs">{{What are you struggling with and how can we help?}}<br><span dir = "||dir_language2||">||What are you struggling with and how can we help?||</span></li>
        <li class="{{dir_language1}} dbs">{{How did you put into practice the scripture/story we studied last time we met?}}<br><span dir = "||dir_language2||">||How did you put into practice the scripture/story we studied last time we met?||</span></li>
        <li class="{{dir_language1}} dbs">{{Who did you share last week's lesson with and how did it go?}}<br><span dir = "||dir_language2||">||Who did you share last week's lesson with and how did it go?||</span></li>
        <li class="{{dir_language1}} dbs">{{What needs did you meet in the community last week?}}<br><span dir = "||dir_language2||">||What needs did you meet in the community last week?||</span></li>
    </ol>
    <h4 class="{{dir_language1}} dbs">{{Look Up}}&nbsp;--&nbsp;||Look Up||</h4>
    <ol class="{{dir_language1}} dbs">
        <li  class="{{dir_language1}} dbs" value="6">{{Ask someone to read the passage one paragraph at a time.}}<br><span dir = "||dir_language2||">||Ask someone to read the passage one paragraph at a time.||</span></li>
    </ol>
<hr>
{{Bible Block}}
<hr>
    <ol class="{{dir_language1}} dbs">
        <li  class="{{dir_language1}} dbs" value="7">{{Have a group member tell it in their own words.}}<br><span dir = "||dir_language2||">||Have a group member tell it in their own words.||</span></li>
        <li class="{{dir_language1}} dbs">{{Ask the group if they added anything or left anything out.}}<br><span dir = "||dir_language2||">||Ask the group if they added anything or left anything out.||</span></li>
        <li class="{{dir_language1}} dbs">{{When you finish with ALL paragraphs, ask someone in the group to tell the WHOLE story by memory. Have the group correct any errors.}}<br><span dir = "||dir_language2||">||When you finish with ALL paragraphs, ask someone in the group to tell the WHOLE story by memory. Have the group correct any errors.||</span></li>
        <li class="{{dir_language1}} dbs">{{What does this passage tell us about God?}}<br><span dir = "||dir_language2||">||What does this passage tell us about God?||</span></li>
        <li class="{{dir_language1}} dbs">{{What does this passage tell us about people?}}<br><span dir = "||dir_language2||">||What does this passage tell us about people?||</span></li></ol>

    <ol class="{{dir_language1}} dbs">
    <h4 class="{{dir_language1}} dbs">{{Look Forward}}&nbsp;--&nbsp;||Look Forward||</h4>
        <li  class="{{dir_language1}} dbs" value="12">{{If this passage is true, what behaviour should we change this week?}}<br><span dir = "||dir_language2||">||If this passage is true, what behaviour should we change this week?||</span></li>
        <li class="{{dir_language1}} dbs">{{Who will you tell this story to this week?}}<br><span dir = "||dir_language2||">||Who will you tell this story to this week?||</span></li>
        <li class="{{dir_language1}} dbs">{{What needs can we meet in the community this week?}}<br><span dir = "||dir_language2||">||What needs can we meet in the community this week?||</span></li>
        <li class="{{dir_language1}} dbs">{{When do you want to meet again?}}<br><span dir = "||dir_language2||">||When do you want to meet again?||</span></li>
    </ol>
    <hr>
    <p>From hereslife.com/dbs</p>
</div>
</body>
</html>
