<html>
<head>
<link type="text/css" rel="stylesheet" href="http://localhost/mylanguage-oophp/styles/dbs.css"  />
</head>
<body>  
    <div class="content">
        <div id="pre-bible">
        <h2 class="title"> {{Title}}</h2>
        <p class="languages">{{language}} -- ||language||</p>
        <h4 class="ltr dbs">{{Look Back}}&nbsp;--&nbsp;||Look Back||</h4>
        <ol class="ltr dbs">
        <li class="ltr dbs">{{What are you thankful for this week?}}<br>||What are you thankful for this week?||</li>
        <li class="ltr dbs">{{What are you struggling with and how can we help?}}<br>||What are you struggling with and how can we help?||</li>
        <li class="ltr dbs">{{How did you put into practice the scripture/story we studied last time we met?}}<br>||How did you put into practice the scripture/story we studied last time we met?||</li>
        <li class="ltr dbs">{{Who did you share last week's lesson with and how did it go?}}<br>||Who did you share last week's lesson with and how did it go?||</li>
        <li class="ltr dbs">{{What needs did you meet in the community last week?}}<br>||What needs did you meet in the community last week?||</li>
        </ol>
        <h4 class="ltr dbs">{{Look Up}}&nbsp;--&nbsp;||Look Up||</h4>
        <ol class="ltr dbs">
            <li  class="ltr dbs" value="6">{{Ask someone to read the passage one paragraph at a time.}}<br>||Ask someone to read the passage one paragraph at a time.||</li>
        </ol>
    <hr>
   </div>
    <div class="bible-container">
        <div class="bible-text">
            <div> <p class="biblereference">{{Bible Reference}}</p>
                <p> {{Bible Block}}</p>  
                <p class="ltr dbs link"><a href="{{url}}">{{Read more}}</a></p>
            </div>
           
        </div> 
        <div class="bible-text">
            <div>
                <p class="biblereference">||Bible Reference||</p>
                <p> ||Bible Block||</p>  
                <p class="ltr dbs link"><a href="||url||">||Read more||</a></p>
            </div>
           
        </div> 
    </div>
    <div id="post-bible">
    <hr>
        <ol class="ltr dbs">
            <li  class="ltr dbs" value="7">{{Have a group member tell it in their own words.}}<br>||Have a group member tell it in their own words.||</li>
            <li class="ltr dbs">{{Ask the group if they added anything or left anything out.}}<br>||Ask the group if they added anything or left anything out.||</li>
            <li class="ltr dbs">{{When you finish with ALL paragraphs, ask someone in the group to tell the WHOLE story by memory. Have the group correct any errors.}}<br>||When you finish with ALL paragraphs, ask someone in the group to tell the WHOLE story by memory. Have the group correct any errors.||</li>
            <li class="ltr dbs">{{What does this passage tell us about God?}}<br>||What does this passage tell us about God?||</li>
            <li class="ltr dbs">{{What does this passage tell us about people?}}<br>||What does this passage tell us about people?||</li></ol>

        <ol class="ltr dbs">
        <h4 class="ltr dbs">{{Look Forward}}&nbsp;--&nbsp;||Look Forward||</h4>
            <li  class="ltr dbs" value="12">{{If this passage is true, what behaviour should we change this week?}}<br>||If this passage is true, what behaviour should we change this week?||</li>
            <li class="ltr dbs">{{Who will you tell this story to this week?}}<br>||Who will you tell this story to this week?||</li>
            <li class="ltr dbs">{{What needs can we meet in the community this week?}}<br>||What needs can we meet in the community this week?||</li>
            <li class="ltr dbs">{{When do you want to meet again?}}<br>||When do you want to meet again?||</li>
        </ol>
        <hr>
        <p>From hereslife.com/dbs</p>
    </div>
</div>
</body>
</html>
