<h2>{{Look Back}}&nbsp;&nbsp;&nbsp;&nbsp;||Look Back||</h2>
<ol>
    <li>{{What are you thankful for this week?}}<br>||What are you thankful for this week?||</li>
    <li>{{What are you struggling with and how can we help?}}<br>||What are you struggling with and how can we help?||</li>
    <li>{{How did you put into practice the scripture/story we studied last time we met?}}<br>||How did you put into practice the scripture/story we studied last time we met?||</li>
    <li>{{Who did you share last week's lesson with and how did it go?}}<br>||Who did you share last week's lesson with and how did it go?||</li>
    <li>{{What needs did you meet in the community last week?}}<br>||What needs did you meet in the community last week?||</li>
</ol>
<h2>{{Look Up}}&nbsp;&nbsp;&nbsp;&nbsp;||Look Up||</h2>
<ol>
    <li value="6">{{Ask someone to read the passage one paragraph at a time.}}<br>||Ask someone to read the passage one paragraph at a time.||</li>
</ol>
<table>
<tr>
<td>{{Bible Block}}</td>
<td>||Bible Block||</td>
</tr>
</table>
<ol>
    <li value="7">{{Have a group member tell it in their own words.}}<br>||Have a group member tell it in their own words.||</li>
    <li>{{Ask the group if they added anything or left anything out.}}<br>||Ask the group if they added anything or left anything out.||</li>
    <li>{{When you finish with ALL paragraphs, ask someone in the group to tell the WHOLE story by memory. Have the group correct any errors.}}<br>||When you finish with ALL paragraphs, ask someone in the group to tell the WHOLE story by memory. Have the group correct any errors.||</li>
    <li>{{What does this passage tell us about God?}}<br>||What does this passage tell us about God?||</li>
    <li>{{What does this passage tell us about people?}}<br>||What does this passage tell us about people?||</li></ol>

<ol>
<h2>{{Look Forward}}&nbsp;&nbsp;&nbsp;&nbsp;||Look Forward||</h2>
    <li value="12">{{If this passage is true, what behaviour should we change this week?}}<br>||If this passage is true, what behaviour should we change this week?||</li>
    <li>{{Who will you tell this story to this week?}}<br>||Who will you tell this story to this week?||</li>
    <li>{{What needs can we meet in the community this week?}}<br>||What needs can we meet in the community this week?||</li>
    <li>{{When do you want to meet again?}}<br>||When do you want to meet again?||</li>
</ol>