.bible{
color:green;
}
body{
    background-color: lightgrey;
    
}
.content{
    max-width: 600px;
    margin:auto;
    background-color: white;
    padding: 10px;

}
table{
    width:100%;
    max-width: 600px;
}
td {
    width:50%;
    vertical-align: top;
    padding: 10px;
}
li{
    padding-top:10px;
}
h2{
    margin-block-end: 0em;
}
.biblereference{
    font-weight: bold;
}

.ltr.dbs.link {
    text-align: center;
}
.languages{
    text-align: center;
}
.title{
    text-align: center;
}

.bible-container {
    border: 3px solid #fff;
    padding: 20px;
}

.bible-text {
    width: 40%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}  
div #post-bible{
    display:block;

}